name: E2E Tests
on: [push]
jobs:
  cypress-run:
    name: Cypress E2E Tests
    runs-on: ubuntu-latest
    env:
      REACT_APP_DESCOPE_PROJECT_ID: ${{ secrets.REACT_APP_DESCOPE_PROJECT_ID }}
      REACT_APP_DESCOPE_MANAGEMENT_KEY: ${{ secrets.REACT_APP_DESCOPE_MANAGEMENT_KEY }}
      # CI: false
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn install

      # - name: Build
      #   run: yarn build

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          start: yarn start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 240
          browser: chrome
          node-version: 22